<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Sports Players</h1>
    
    <form action="/search" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="number" name="age" placeholder="Age">
        <input type="text" name="game" placeholder="Game">
        <button type="submit">Search</button>
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Game</th>
            </tr>
        </thead>
        <tbody>
            <% players.forEach(player => { %>
                <tr>
                    <td><%= player.name %></td>
                    <td><%= player.age %></td>
                    <td><%= player.game %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>

